<!--<div style="display: flex;">-->
<!--  <div style=" width: 60%; margin: 1% 40%">-->
<!--    <h1> Your Filled Data are:</h1>-->
<!--    <pre>-->
<!--        {{allPageData | json}}-->
<!--    </pre>-->
<!--    <div style="display: flex; align-items: center; justify-content: center;">-->
<!--      <button mat-raised-button color="primary">Submit</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div style=" width: 60%; margin: 1% 40%">
  <form [formGroup]="userFormGroup">
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Email 1</mat-label>
  <input type="email" matInput [formControlName]="'email1FormControl'" [errorStateMatcher]="matcher" required>
  <mat-hint>Email Should Be like 'abc@gmail.com'!</mat-hint>
  <mat-error *ngIf="userFormGroup.get('email1FormControl')?.invalid"></mat-error>
  <mat-error *ngIf="userFormGroup.get('email1FormControl')?.invalid && !userFormGroup.get('email1FormControl')?.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="userFormGroup.get('email1FormControl')?.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>
<br><br><br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email 2</mat-label>
      <input type="email" matInput formControlName="email2FormControl" [errorStateMatcher]="matcher" required>
      <mat-hint>Email Should Be like 'abc@gmail.com'!</mat-hint>
      <mat-error *ngIf="userFormGroup.get('email2FormControl')?.invalid"></mat-error>
      <mat-error *ngIf="userFormGroup.get('email2FormControl')?.invalid && !userFormGroup.get('email2FormControl')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="userFormGroup.get('email2FormControl')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <br>
  <div style="margin-left: 5%;">
    <button
      class="fuse-mat-button-large w-full mt-6"
      mat-flat-button
      [color]="'primary'"
      [disabled]="userFormGroup.invalid"
      (click)="log()">
                    <span *ngIf="!userFormGroup.disabled">
                        Sign in
                    </span>
      <mat-progress-spinner
        *ngIf="userFormGroup.disabled"
        [diameter]="24"
        [mode]="'indeterminate'"></mat-progress-spinner>
    </button>  </div>
  </form>
</div>
